.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.home-navbar-interactive {
    width: 100%;
    height: 97px;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}

.home-image {
    width: 62px;
    height: 64px;
    border-radius: var(--dl-radius-radius-round);
}

.home-desktop-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.home-links {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.home-text01 {
    margin-left: var(--dl-space-space-twounits);
}

.home-text02 {
    margin-left: var(--dl-space-space-twounits);
}

.home-text03 {
    margin-left: var(--dl-space-space-twounits);
}

.home-text04 {
    margin-left: var(--dl-space-space-twounits);
}

.home-text05 {
    margin-left: var(--dl-space-space-twounits);
}

.home-burger-menu {
    display: none;
}

.home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.home-hero {
    width: 100%;
    height: 906px;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    position: relative;
    min-height: 80vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%), url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3JrJTIwbGFwdG9wfGVufDB8fHx8MTYyNjE3NjkzMA&ixlib=rb-1.2.1&w=1500');
}

.home-text06 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
}

.home-text07 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
}

.home-btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.home-button {
    font-size: 0.75rem;
    transition: 0.3s;
    padding-top: var(--dl-space-space-unit);
    border-width: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
}

.home-button:hover {
    transform: scale(1.02);
}

.home-button1 {
    color: var(--dl-color-gray-white);
    font-size: 0.75rem;
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-white);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
    background-color: transparent;
}

.home-button1:hover {
    transform: scale(1.02);
}

.home-stats {
    width: 100%;
    display: grid;
    padding: var(--dl-space-space-threeunits);
    grid-gap: var(--dl-space-space-twounits);
    max-width: var(--dl-size-size-maxwidth);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home-stat {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-text12 {
    color: rgb(255, 124, 76);
    font-size: 3rem;
}

.home-text13 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
}

.home-text14 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
}

.home-stat1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-text15 {
    color: rgb(255, 124, 76);
    font-size: 3rem;
}

.home-text16 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
}

.home-text17 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
}

.home-stat2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-text18 {
    color: rgb(255, 124, 76);
    font-size: 3rem;
}

.home-text19 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
}

.home-text20 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
}

.home-stat3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-text21 {
    color: rgb(255, 124, 76);
    font-size: 3rem;
}

.home-text22 {
    font-size: 1.15rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
}

.home-text25 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
}

.home-features {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    max-width: var(--dl-size-size-maxwidth);
    flex-direction: column;
}

.home-text26 {
    font-size: 3rem;
    margin-bottom: var(--dl-space-space-threeunits);
}

.home-container1 {
    flex: 0 0 auto;
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media(max-width: 991px) {
    .home-hero {
        flex-direction: column;
    }

    .home-text06 {
        text-align: center;
    }

    .home-text07 {
        text-align: center;
    }

    .home-text08 {
        text-align: center;
    }

    .home-text09 {
        text-align: center;
    }

    .home-text12 {
        text-align: center;
    }

    .home-text15 {
        text-align: center;
    }

    .home-text18 {
        text-align: center;
    }

    .home-text21 {
        text-align: center;
    }

    .home-text26 {
        align-self: center;
    }

    .home-container1 {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 767px) {
    .home-navbar-interactive {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-desktop-menu {
        display: none;
    }

    .home-burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-hero {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-stats {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
        grid-template-columns: 1fr 1fr;
    }

    .home-text13 {
        text-align: center;
    }

    .home-text16 {
        text-align: center;
    }

    .home-text19 {
        text-align: center;
    }

    .home-text22 {
        text-align: center;
    }

    .home-text23 {
        text-align: center;
    }

    .home-features {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
}

@media(max-width: 479px) {
    .home-navbar-interactive {
        padding: var(--dl-space-space-unit);
    }

    .home-mobile-menu {
        padding: 16px;
    }

    .home-hero {
        width: 100%;
        padding: var(--dl-space-space-twounits);
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .home-btn-group {
        flex-direction: column;
    }

    .home-button1 {
        margin-top: var(--dl-space-space-unit);
        margin-left: 0px;
    }

    .home-stats {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
        grid-template-columns: 1fr;
    }

    .home-features {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }

    .home-container1 {
        grid-gap: var(--dl-space-space-halfunit);
    }
}